
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}
.navigation{
  ul{
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    min-height: 6vh;
    justify-content: flex-end;
    align-items: center;

    li{
      text-align: center;
      padding: .5em;
      cursor: pointer;
      &:hover{
        background-color: plum;
        color: white;
      }
    }

    li a{
      text-decoration: none;
      color: inherit;
    }

  }
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.navbar.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active a {
  color: #000;
}

.navbar.active .container {
  padding: 10px 0;
}

.navbar a.current,
.navbar a:hover {
  color: #c0392b;
  font-weight: bold;
}
}
