.navbar{
  width: 100%;
  max-width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* background-color: #eee; */
  transition: all .2s ease;
  background-color: #222;

  /* transition: all 0.3s ease-in-out; */
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.navbar.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active a {
  color: #000;
}

.navbar.active .container {
  padding: 10px 0;
}

.navbar a.current,
.navbar a:hover {
  color: #c0392b;
  font-weight: bold;
}
.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}
.logo img{
  width: 50px;
}

.navigation{
  ul{
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    min-height: 6vh;
    justify-content: flex-end;
    align-items: center;

    li{
      text-align: center;
      padding: .5em;
      cursor: pointer;
      &:hover{
        background-color: plum;
        color: white;
      }
    }

    li a{
      text-decoration: none;
      color: inherit;
    }

  }
}
